@page "/"
@using System.IO
@using System.Net
@using System.Web
@namespace BlazorApp1.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- meta tag -->
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy -->
    <!-- https://app.pluralsight.com/course-player?clipId=80a764a8-5d72-41a8-a4c3-a5f8360726a1 -->
    <meta http-equiv="Content-Security-Policy: script-src https://localhost/MyWeakCDN/" content="default-src https:">

    <title>BlazorApp1</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />

    <!-- https://app.pluralsight.com/course-player?clipId=f1c35460-f345-4435-a9b1-74ceaafde172 -->
    <!-- https://developer.mozilla.org/en-US/docs/Web/Security/Subresource_Integrity -->
    <!-- https://slproweb.com/products/Win32OpenSSL.html -->
    <!-- Include external content -->
    @*<script type="text/javascript" src="https://localhost/MyWeakCDN/jquery.js"></script>*@

    <!-- generate an SRI for a file using PowerShell once Win64OpenSSL-1_1_1d.msi has been installed and added to path -->
    <!-- cat FILENAME.js | openssl dgst -sha256 -binary | openssl base64 -A -->
    <!-- cat jquery.js | openssl dgst -sha256 -binary | openssl base64 -A -->
    <!-- gives a different SHA to what chrome expects, use the sha from chrome, chrome must use different SSL version?  -->
    <!-- https://security.stackexchange.com/a/127162 -->
    @*<script src="https://localhost/MyWeakCDN/jquery.js"
        integrity="sha256-Cn8hZTPVK2yaHZabPNZLRTTDUaoLvK8/OkyjaDaa0aM="
        crossorigin="anonymous"></script>*@

    <!-- But what if this file version changes and that's ok, for that we need a content security policy-->
    <!-- http not https, content security policy will load js over https-->
    <script type="text/javascript" src="http://localhost/MyWeakCDN/jquery.js"></script>

</head>
<body>
    <!-- https://app.pluralsight.com/course-player?clipId=f1c35460-f345-4435-a9b1-74ceaafde172 -->
    <!-- https://codepen.io/rvernagus/pen/xrKOXp -->
    <!-- “><script>alert(document.cookie)</script>-->
    <!-- https://www.owasp.org/index.php/Testing_for_Reflected_Cross_site_scripting_(OTG-INPVAL-001) -->
    <a href="?name=<script>alert(0);</script>">Click for XSS</a>

    @*<script type="text/javascript">
        window.onload = function exampleFunction() {
            let params = new URLSearchParams(window.location.search);
            document.getElementById("xss-content").innerHTML = params.get("name");
        }
    </script>*@

    <!-- ?name=chris -->
    <!-- ?name=<script>alert(0);</script> -->
    <h1>XSS Demo</h1>
    <h2>Name</h2>
    <p id="xss-content">
        @{
            string name = String.Empty;
            var nameQuerystring = Request.QueryString.Value;
            if (!string.IsNullOrEmpty(nameQuerystring))
            {
                var myEncodedString = nameQuerystring.Split("=")[1].ToString();
                name = WebUtility.UrlDecode(myEncodedString);
            }
        }
        @Html.Raw(name)
    </p>

    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
    </html>
